@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* EADFB4
    9BB0C1 
    51829B
    F6995C */

* {
    margin : 0;
}


body {
    background-color: #EADFB4;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
}

#tempinfo {
    position: absolute;
    top: 10px;
    right: 13px;
}

#icon {
    float: left;
    margin-top: 5px;
    margin-right: 3px;
}

#icon > img {
    width: 30px;
}

#temp {
    float: left;
    font-size:20px;
}

#localname {
    font-size: 12px;
}

#centerArea {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

#clock {
    font-size:180px;
    margin-bottom: -30px;
    letter-spacing: -5px;
}

#second {
    margin-left: -30px;
    margin-right: -30px;
}

#hello {
    font-size:40px;
    text-align: center;
}

#name {
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    outline: none;
    width: 450px;
    font-size: 30px;
}

#mainGoal {
    position: absolute;
    top: 72%;
    width:100%;
    text-align: center;
    font-size:30px;
}

#Goal {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 450px;
    outline:none;
    text-align: center;
    font-size: 30px;
}

#TodoArea {
    position: absolute;
    bottom: 13px;
    right: 13px;
}


.TodoHidden {
}

#TodoList {
    margin-bottom: 20px;
    width: 300px;
    height: 230px;
    border-radius: 5px;
    background-color: white;
}

#TodoTop {
    width: 100%;
    position: absolute;
    top:15px;
    font-size: 20px;
    letter-spacing: -1px;
}

#TodoCategory {
    position: absolute;
    left: 20px;
}

#arrow-down {
    position: absolute;
    top:15%;
    margin-left: 4px;
}

#arrow-down > img {
    width: 10px;
    padding: 7px;
    border-radius: 100%;
    
}

#arrow-down > img:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

#TodoMore {
    position: absolute;
    right: 5%;
}

#TodoMore > img {
    padding: 3px;
    border-radius: 100%;
    width: 20px;
}

#TodoMore > img:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

#TodoCenter {
    width: 100%;
    position: absolute;
    top:30%;
    text-align: center;
    color: #888888;
}

#SwcInbox {
    border: none;
    background-color: transparent;
    color: #c1c1c1;
    font-size: 15px;
}

#SwcInbox:hover {
    color:grey;
    cursor: pointer;
}

#NewTodo {
    left: 40%;
    color: white;
    border: none;
    background-color: rgb(176,87,87);
    margin-top:10px;
    padding: 8px 30px;
    border-radius: 30px;
}

#NewTodo:hover {
    background-color: rgb(187,108,108);
    cursor:pointer;
}

#TodoboxLast {
    margin-top: -20px;
    bottom: -79px;
    right: 25px;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#TodoBtn {
    border: none;
    background: transparent;
    font-size: 17px;
    float: right;
    
}

#TodoBtn:hover {
    color: grey;
    cursor: pointer;
}

#optionArea {
    position: absolute;
    left: 2%;
    bottom: 10%;
}

#optionBox {
    position: absolute;
    bottom:50px;
    width: 300px;
    height: 230px;
    background-color: white;
    border-radius: 5px;
    
}

#optionBtn {
    position: absolute;
    left: 2%;
    bottom: 10%;
}

#optionBtn >img:hover {
    border-radius: 100%;
    background-color: #c0b792;
    cursor: pointer;
}

#optionBtn > img{
    width: 20px;
    padding: 5px;
}

#optionBoxLast {
    position: absolute;
    left: 10px;
    bottom: 30px;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#foot {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#quotes {
    display:inline-block;
    width: 100%;
    text-align: center;
}

#text {
    font-size: 20px;
}

#author {
    /* 폰트 */
    font-size: 15px;
    color: grey;
}